<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/mis-vuelos" icon="chevron-back-outline" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="qr-container">

    <h2>Código QR <br>del Pasaje</h2>

    <ion-card class="qr-card">

      <ion-card-content>

        <span class="nombre-pasajero">{{ passengerName }}</span>

        <div class="qr-code">
          <img [src]="qrDataUrl" alt="Código QR del Pasaje" *ngIf="qrDataUrl">
          <!-- *ngIf="qrDataUrl": muestra la imagen solo si qrDataUrl tiene valor -->

          <ion-spinner name="crescent" *ngIf="!qrDataUrl"></ion-spinner> 
          <!-- *ngIf="!qrDataUrl": muestra el circulo de carga si qrDataUrl no tiene valor -->
        </div>

        <div class="info-vuelo">
          <span class="numero-vuelo">{{ flightNumber }}</span>
          <span class="numero-asiento">{{ seatNumber }}</span>
        </div>

      </ion-card-content>

    </ion-card>

    <!-- (click)=descargarQR()" -->
    <ion-button class="boton-descarga">
      <ion-icon name="download" slot="start"></ion-icon>
      Descargar QR
    </ion-button>
  </div>
</ion-content>