<ion-content class="ion-padding">
  <!-- boton flotante de contacto -->
  <div class="floating-button-container" [routerLink]="['/contacto']">
    <span>✉️</span>
  </div>
  <div class="floating-Home-container" [routerLink]="['/login']">
    <span>🔒</span>
  </div>
  

  <ion-grid class="paginaGrid">
    <!-- Título -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" class="ion-text-center">
        <ion-card-title id="tituloMisVuelos">Mis Vuelos</ion-card-title>
      </ion-col>
    </ion-row>

    <!-- Barra de búsqueda -->
    <ion-row class="ion-justify-content-center rowBusqueda">
      <ion-col size="12" size-md="6">
        <ion-searchbar
        placeholder="Buscar vuelo"
        [(ngModel)]="terminoBusqueda"
        (ionInput)="filtrarVuelos()"
        showClearButton="always"
        class="barraBusqueda">
      </ion-searchbar>
      </ion-col>
    </ion-row>

    <!-- Lista de vuelos -->
    <ion-row class="ion-justify-content-center" responsive>
      @if (vuelosFiltrados.length > 0) {
      @for (vuelo of vuelosFiltrados; track $index) {
      <!-- Responsive: 12 col en mobile, 6 en tablet, 4 en desktop -->
      <ion-col size="12" size-sm="6" size-md="4">
        <ion-card class="contenedorVuelos">
          <ion-card-header>
            <ion-card-title id="codigoVuelo">{{ vuelo.codigo }}</ion-card-title>
          </ion-card-header>

          <ion-card-content class="cardVuelos">
            <ion-grid>
                <ion-col size="12">
                  <div class="labelInfo">Origen: {{ vuelo.origen }} ({{ vuelo.aeropuertoSalida }})</div>
                </ion-col>
                <ion-col size="12">
                  <div class="labelInfo">Destino: {{ vuelo.destino }} ({{ vuelo.aeropuertoLlegada }})</div>
                </ion-col>
                @if($index === 0 && !esEmbarcado(vuelo)){
                  <ion-col size="12">
                    <div class="labelInfo">Embarca en: {{ cuentaRegresiva(vuelo) }}</div>
                  </ion-col>
                }
                @if($index === 0 && esEmbarcado(vuelo)){
                  <ion-col size="12">
                    <div class="labelInfo">Embarcado</div>
                  </ion-col>
                }
            </ion-grid>

            <!-- Botón Ver Detalles -->
            <ion-button id="btnVerDetalles"
                expand="block"
                fill="solid"
                [routerLink]="['/tarjetaEmbarque', vuelo.codigo ]">
                Ver Detalles
              </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      }
      } @else {
      <ion-col size="12" size-md="6">
        <ion-card class="ion-padding">
          <ion-card-content>
            <ion-text color="medium">No hay vuelos disponibles.</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>